<div class="row">
    <div class="col-md-4 p-4" *ngFor="let pelicula of peliculas">
        <div class="card card-photo" (click)="selectedCard(pelicula._id)">
            <div class="card-header">
                {{pelicula.title}}
            </div>
            <img [src]="'http://localhost:4000/' + pelicula.imagePath" class="img-card-top w-100">
            <div class="card-body">
                <p>{{pelicula.description}}</p>
            </div>
        
            
        </div>
    </div>
</div>